.dashboard-header {
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-size: 1.5rem;
  }
  
  .logout-button {
    background-color: #e74c3c;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }
  